{% extends "base.html" %}

{%load staticfiles%}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading" style="background-color: #4cae4c; color: #fff7e1">
                    <h4>审核通过报告</h4>
                </header>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                通过量 表格 （点击隐藏）
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <section class="panel">
                                <header class="panel-heading tab-bg-dark-navy-blue tab-right ">
                                    <ul class="nav nav-tabs pull-right">
                                        <li class="active">
                                            <a data-toggle="tab" href="#passhour">
                                                时
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#passday">
                                                日
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#passweek">
                                                周
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#passmonth">
                                                月
                                            </a>
                                        </li>
                                    </ul>
                                </header>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div id="passhour" class="tab-pane active">
                                            <table class="table table-hover">
                                                <tr>
                                                    <td>时间</td>
                                                    <td>申请量</td>
                                                    <td>通过量</td>
                                                    <td>通过率</td>
                                                </tr>
                                                {% for eachh in res_hour %}
                                                <tr>
                                                    <td>{{ eachh.0 }}</td>
                                                    <td>{{ eachh.1 }}</td>
                                                    <td>{{ eachh.2 }}</td>
                                                    <td>{{ eachh.3 }}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <div id="passday" class="tab-pane">
                                            <table class="table table-hover">
                                                <tr>
                                                    <td>时间</td>
                                                    <td>申请量</td>
                                                    <td>通过量</td>
                                                    <td>通过率</td>
                                                </tr>
                                                {% for eachd in res_day %}
                                                <tr>
                                                    <td>{{ eachd.0 }}</td>
                                                    <td>{{ eachd.1 }}</td>
                                                    <td>{{ eachd.2 }}</td>
                                                    <td>{{ eachd.3 }}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <div id="passweek" class="tab-pane">
                                            <table class="table table-hover">
                                                <tr>
                                                    <td>时间</td>
                                                    <td>申请量</td>
                                                    <td>通过量</td>
                                                    <td>通过率</td>
                                                </tr>
                                                {% for eachw in res_week %}
                                                <tr>
                                                    <td>{{ eachw.0 }}</td>
                                                    <td>{{ eachw.1 }}</td>
                                                    <td>{{ eachw.2 }}</td>
                                                    <td>{{ eachw.3 }}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <div id="passmonth" class="tab-pane">
                                            <table class="table table-hover">
                                                <tr>
                                                    <td>时间</td>
                                                    <td>申请量</td>
                                                    <td>通过量</td>
                                                    <td>通过率</td>
                                                </tr>
                                                {% for eachm in res_mon %}
                                                <tr>
                                                    <td>{{ eachm.0 }}</td>
                                                    <td>{{ eachm.1 }}</td>
                                                    <td>{{ eachm.2 }}</td>
                                                    <td>{{ eachm.3 }}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                通过量 图表 （点击隐藏）
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <section class="panel">
                                <header class="panel-heading tab-bg-dark-navy-blue tab-right ">
                                    <ul class="nav nav-tabs pull-right">
                                        <li class="active">
                                            <a data-toggle="tab" class="reload" href="#pichour">
                                                时
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" class="reload" href="#picday">
                                                日
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" class="reload" href="#picweek">
                                                周
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" class="reload" href="#picmonth">
                                                月
                                            </a>
                                        </li>
                                    </ul>
                                </header>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        {% block pic_info %}
                                        <div id="pichour" class="tab-pane active">
                                            <div id="mainh" style="width: auto;height:400px;"></div>
                                                <script src="/static/js/echarts.min.js"></script>
                                                <script src="/static/js/macarons.js"></script>
                                                <script type="text/javascript">
                                                    var myCharth = echarts.init(document.getElementById('mainh'), 'macarons');
                                                    optionh = {
                                                        tooltip: {
                                                            trigger: 'axis',
                                                            axisPointer: {
                                                                type: 'cross',
                                                                crossStyle: {
                                                                    color: '#999'
                                                                }
                                                            }
                                                        },
                                                        toolbox: {
                                                            feature: {
                                                                dataView: {show: true, readOnly: false},
                                                                magicType: {show: true, type: ['line', 'bar']},
                                                                restore: {show: true},
                                                                saveAsImage: {show: true}
                                                            }
                                                        },
                                                        legend: {
                                                            data:['申请量','通过量','通过率']
                                                        },
                                                        xAxis: [
                                                            {
                                                                type: 'category',
                                                                data: [
                                                                    {% for eachh in res_hour %}
                                                                        '{{ eachh.0 }}',
                                                                    {% endfor %}
                                                                ],
                                                                axisPointer: {
                                                                    type: 'shadow'
                                                                }
                                                            }
                                                        ],
                                                        yAxis: [
                                                            {
                                                                type: 'value',
                                                                name: '人次',
                                                                axisLabel: {
                                                                    formatter: '{value}'
                                                                }
                                                            },
                                                            {
                                                                type: 'value',
                                                                name: '通过率',
                                                                min: 0,
                                                                max: 1,
                                                                axisLabel: {
                                                                    formatter: '{value}'
                                                                }
                                                            }
                                                        ],
                                                        series: [
                                                            {
                                                                name:'申请量',
                                                                type:'bar',
                                                                data:[
                                                                    {% for eachh in res_hour %}
                                                                        '{{ eachh.1 }}',
                                                                    {% endfor %}
                                                                ]
                                                            },
                                                            {
                                                                name:'通过量',
                                                                type:'bar',
                                                                data:[
                                                                    {% for eachh in res_hour %}
                                                                        '{{ eachh.2 }}',
                                                                    {% endfor %}
                                                                ]
                                                            },
                                                            {
                                                                name:'通过率',
                                                                type:'line',
                                                                yAxisIndex: 1,
                                                                data:[
                                                                    {% for eachh in res_hour %}
                                                                        '{{ eachh.3 }}',
                                                                    {% endfor %}
                                                                ]
                                                            }
                                                        ]
                                                    };
                                                    myCharth.setOption(optionh);
                                                </script>
                                        </div>
                                        {% endblock %}
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}