{% load staticfiles %}
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>天启智创管理系统</title>
<link href="/static/css/style_log.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/userpanel.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.ui.all.css">
</head>
<body>
<body class="login" mycollectionplug="bind">
<div class="login_m">
<div class="login_logo"><img src="/static/img/logo3.jpg" width="280" height="100"></div>
<div class="login_boder">

<div class="login_padding" id="login_model">
<form class="am-form" action="/login/" method="post">
  <h2>用户名</h2>
  <label>
    <input type="text" id="username" name="username" class="txt_input txt_input2" onfocus="if (value ==&#39;Your name&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;Your name&#39;}" value="Your name">
  </label>
  <h2>密码</h2>
  <label>
    <input type="password" name="password" id="userpwd" class="txt_input" onfocus="if (value ==&#39;******&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;******&#39;}" value="******">
  </label>

  <div class="rem_sub">
  <div class="rem_sub_l">
   </div>
    <label>
      <input type="submit" class="sub_button" name="button" id="button" value="登陆" style="opacity: 0.7;">
    </label>
  </div>
</form>
</div>

<div id="forget_model" class="login_padding" style="display:none">
<br>

   <h1>Forgot password</h1>
   <br>
   <div class="forget_model_h2">(Please enter your registered email below and the system will automatically reset users’ password and send it to user’s registered email address.)</div>
    <label>
    <input type="text" id="usrmail" class="txt_input txt_input2">
   </label>


  <div class="rem_sub">
  <div class="rem_sub_l">
   </div>
    <label>
     <input type="submit" class="sub_buttons" name="button" id="Retrievenow" value="Retrieve now" style="opacity: 0.7;">
     　　　
     <input type="submit" class="sub_button" name="button" id="denglou" value="Return" style="opacity: 0.7;">　　

    </label>
  </div>
</div>
<!--login_padding  Sign up end-->
</div><!--login_boder end-->
</div><!--login_m end-->
 <br> <br>

</body>
<!--
<div class="am-g myapp-login">
	<div class="myapp-login-logo-block">
		<div class="myapp-login-logo">
			&lt;!&ndash;<i class="am-icon-jsfiddle"></i>&ndash;&gt;
            <img src="{% static 'img/tq.png' %}" />
		</div>
		<div class="myapp-login-logo-text" style="margin-top: 20px; color: #00c0ef">
			<div class="myapp-login-logo-text">
				<span>TianqiSmart</span>
				<p><span>{{error}}</span></p>

			</div>
		</div>

		<div class="login-font">

		</div>
		<div class="am-u-sm-10 login-am-center">
			<form class="am-form" action="/login/" method="post">
				<fieldset>
					<div class="am-form-group">
						<input type="text" name="username" id="doc-ipt-email-1" placeholder="输入电子邮件">
					</div>

					<div class="am-form-group">
						<input type="password" name="password" id="doc-ipt-pwd-1" placeholder="输入密码">
					</div>
					<p><button type="submit" class="am-btn am-btn-default">登录</button></p>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</body>
-->
</html>
