{% extends "base.html" %}

{%load staticfiles%}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading" style="background-color: #4cae4c; color: #fff7e1">
                    <h4>统计服务</h4>
                </header>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="panel">
                <header class="panel-heading">
                     性别
                </header>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>日期</th>
                            <th>男</th>
                            <th>女</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="panel">
                <header class="panel-heading">
                     年龄
                    <button>月</button>
                    <button>周</button>
                    <button>日</button>
                </header>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>日期</th>
                            <th>18-22</th>
                            <th>23-27</th>
                            <th>28-32</th>
                            <th>33-37</th>
                            <th>38-42</th>
                            <th>43-47</th>
                            <th>47++</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                            <td>222</td>
                            <td>333</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <section class="panel general">
                <header class="panel-heading tab-bg-dark-navy-blue">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#home">日</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#about">周</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#profile">Profile</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#contact">Contact</a>
                        </li>
                    </ul>
                </header>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="home" class="tab-pane active">
                            Home
                        </div>
                        <div id="about" class="tab-pane">About</div>
                        <div id="profile" class="tab-pane">Profile</div>
                        <div id="contact" class="tab-pane">Contact</div>
                    </div>
                </div>
            </section>
            <div class="panel panel-defaultz">
                <header class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                     籍贯
                    <button>月</button>
                    <button>周</button>
                    <button>日</button>
                </a>
                </header>
                <div class="panel-body table-responsive panel-collapse collapse in" id="collapseOne">
                    <table class="table table-hover">
                        <tr>
                            <th>日期</th>
                            <th>北京</th>
                            <th>天津</th>
                            <th>上海</th>
                            <th>重庆</th>
                            <th>河北</th>
                            <th>山西</th>
                            <th>辽宁</th>
                            <th>吉林</th>
                            <th>黑龙江</th>
                            <th>江苏</th>
                            <th>浙江</th>
                            <th>安徽</th>
                            <th>福建</th>
                            <th>江西</th>
                            <th>山东</th>
                            <th>河南</th>
                            <th>湖北</th>
                            <th>湖南</th>
                            <th>广东</th>
                            <th>海南</th>
                            <th>四川</th>
                            <th>贵州</th>
                            <th>云南</th>
                            <th>陕西</th>
                            <th>甘肃</th>
                            <th>青海</th>
                            <th>内蒙古</th>
                            <th>广西</th>
                            <th>西藏</th>
                            <th>宁夏</th>
                            <th>新疆</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                        <tr>
                            <td>2017-01-01</td>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                            <th>666</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

