{% extends "base2.html" %}

{% block body %}

<section class="row">
    <div class="col-md-6 report-summary" style="text-align: center;"><h2>信用分总估</h2></div>
    <div class="col-md-6 report-summary" style="text-align: center;"><h2>　　　</h2></div>
    <div class="row">
        <div class="col-md-6" id="main" style="height: 400px;"></div>
        <div class="col-md-6" id="main1" style="height: 400px;">　　　</div>
        <div class="col-md-6" style="text-align: center; position: relative; top: -70px"><h3>战胜了{{ credit_report_summary.0.score_quantile }}%的人</h3></div>
        <div class="col-md-6" style="text-align: center; position: relative; top: -70px"><h3></h3>　　　</div>
{#        <div class="col-md-3" style="padding-left: 58px; font-size: 1.2em;">黑名单：{{ is_black }}</div>#}
{#        <div class="col-md-3" style="padding-left: 58px; font-size: 1.2em;">欺诈分：{{ base_info.fraud_level }}</div>#}
        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('main'), 'macarons');
            var option = {
                tooltip : {
                    formatter: "{a} <br/>{b} : {c}%"
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                series: [
                    {
                        name: '业务指标',
                        type: 'gauge',
                        min: '200',
                        max: '1000',
                        title : {
                            textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                                fontWeight: 'bolder',
                                fontSize: 20,
                                fontStyle: 'italic'
                            }
                        },
                        detail: {
                            textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                                fontWeight: 'bolder'
                            },
                            formatter:'{{ credit_report_summary.0.score }}'
                        },
                        axisLine: {            // 坐标轴线
                            lineStyle: {       // 属性lineStyle控制线条样式
                                color: [[0.2, '#c23531'], [0.8, '#63869e'], [1, '#91c7ae']]
                            }
                        },
                        data: [{value: {{ credit_report_summary.0.score }}, name: '信用分'}]
                    }]
                };
            myChart.setOption(option);
        </script>
    </div>
</section>

<div class="row" style="padding-left: 15px;">
    <div class="col-md-12">
        <h3>1. 简版征信报告</h3>
    </div>

    <div class="row">
        <div class="col-sm-4" style="padding-left: 70px;">
            <h4>评估得分 ：{{ simport_zhengxin.summary.score }}</h4>
        </div>
        <div class="col-sm-8 clearfix" style="padding-left: 20px;"><h4></h4> </div>
    </div>
    <div class="col-md-8 clearfix">
        <div class="panel">
            <div class="panel-body">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <th style="width: 350px; color: #fff7e1; background-color: #0b6ac6;">参考项</th>
                        <th style="color: #fff7e1; background-color: #0b6ac6;">值</th>
                    </tr>
                    <tr>
                        <th>征信报告是否本人</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_inequal_name }}</th>
                    </tr>
                    <tr>
                        <th>人民币信用卡数</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_credit_card_cnt }}</th>
                    </tr>
                    <tr>
                        <th>房贷笔数</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_house_loan_cnt }}</th>
                    </tr>
                    <tr>
                        <th>其他贷款笔数</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_other_loan_cnt }}</th>
                    </tr>
                    <tr>
                        <th>是否有强制执行记录</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_has_compulsory_execution_record }}</th>
                    </tr>
                    <tr>
                        <th>信用卡最早激活时间</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_earliest_credit_card_release_date }}</th>
                    </tr>
                    <tr>
                        <th>当前信用卡逾期卡数</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_current_overdue_credit_card_num }}</th>
                    </tr>
                    <tr>
                        <th>当前信用卡逾期金额</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_credit_card_current_overdue_amount }}</th>
                    </tr>
                    <tr>
                        <th>近五年信用卡逾期超过90天次数</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_credit_card_overdue_days_exceed_90_times }}</th>
                    </tr>
                    <tr>
                        <th>信用卡是否出现过呆账/冻结/止付状态</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_credit_card_abnormal }}</th>
                    </tr>
                    <tr>
                        <th>当前房贷逾期金额</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_house_loan_current_overdue_amount }}</th>
                    </tr>
                    <tr>
                        <th>近五年房贷逾期超过90天次数</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_house_loan_overdue_days_exceed_90_times }}</th>
                    </tr>
                    <tr>
                        <th>房贷是否出现过呆账/冻结/止付状态</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_house_loan_abnormal }}</th>
                    </tr>
                    <tr>
                        <th>当前其他贷款逾期金额</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_other_loan_current_overdue_amount }}</th>
                    </tr>
                    <tr>
                        <th>近五年其他贷款逾期超过90天次数</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_other_loan_overdue_days_exceed_90_times }}</th>
                    </tr>
                    <tr>
                        <th>其他贷款是否出现过呆账/冻结/止付状态</th>
                        <th>{{ simport_zhengxin.feature.simple_zhengxin_other_loan_abnormal }}</th>
                    </tr>
                    <tr>
                        <th>命中的风控规则</th>
                        <th>
                            {% for each in  simport_zhengxin.rule %}
                                <div class="col-md-9">{{ each }}</div>
                            {% endfor %}
                        </th>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

<div class="row" style="padding-left: 15px;">
    <div class="col-md-12">
        <h3>2. 多头借贷报告</h3>
    </div>
    <div class="col-sm-8 clearfix">
        <div class="panel">
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 350px; color: #fff7e1; background-color: #0b6ac6;">参考项</th>
                            <th style="color: #fff7e1; background-color: #0b6ac6;">值</th>
                        </tr>
                        <tr>
                            <th>最近180天申请贷款机构数</th>
                            <th>{{ multi_loan.feature }}</th>
                        </tr>
                        {% if multi_loan.rule %}
                        <tr>
                            <th>命中的风控规则</th>
                            {% for each in  multi_loan.rule %}
                                <th>{{ each }}</th>
                            {% endfor %}
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-left: 15px;">
    <div class="col-md-12" style="padding-left: 15px;">
        <h3>3. 芝麻信用报告</h3>
    </div>
    <div class="row">
        <div class="col-sm-4" style="padding-left: 70px;">
            <h4>芝麻信用分 ：{{ zhima_info.score }}</h4>
        </div>
        <div class="col-sm-8">&nbsp;&nbsp;&nbsp;</div>
        <div class="col-sm-8 clearfix" style="padding-left: 25px;">战胜了{{ zhima_info.score_quantile }}%的人</div>
    </div>
</div>

<div class="row" style="padding-left: 15px;">
    <div class="col-md-12" style="padding-left: 15px;">
        <h3>4. 资产消费报告</h3>
    </div>
    <div class="row">
        <div class="col-sm-4" style="padding-left: 70px;">
            <h4>天启信用分 ：{{ asset_info.score }}</h4>
        </div>
        <div class="col-sm-8">&nbsp;&nbsp;&nbsp;</div>
        <div class="col-sm-8 clearfix" style="padding-left: 25px;">战胜了{{ asset_info.score_quantile }}%的人</div>
    </div>
</div>

{% if yys_info %}
<div class="row" style="padding-left: 15px;">
    <div class="col-md-12" style="padding-left: 15px;">
        <h3>5. 运营商报告</h3>
    </div>
    <div class="row">
        <div class="col-sm-4" style="padding-left: 70px;">
            <h4>运营商评分 ：{{ yys_info.score }}</h4>
        </div>
        <div class="col-sm-8">&nbsp;&nbsp;&nbsp;</div>
        <div class="col-sm-8 clearfix" style="padding-left: 25px;">战胜了{{ yys_info.score_quantile }}%的人</div>
    </div>

    <div class="col-sm-8 clearfix">
        <div class="panel">
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 350px; color: #fff7e1; background-color: #0b6ac6;">参考项</th>
                            <th style="color: #fff7e1; background-color: #0b6ac6;">值</th>
                        </tr>
                        <tr>
                            <th>入网时间</th>
                            <th>{{ yys_info.feature.yys_reg_time }}</th>
                        </tr>
                        <tr>
                            <th>姓名与运营商是否匹配</th>
                            <th>{{ yys_info.feature.yys_inequal_name }}</th>
                        </tr>
                        <tr>
                            <th>当前账户余额</th>
                            <th>{{ yys_info.feature.cur_account_amount }}</th>
                        </tr>
                        <tr>
                            <th>最近180天最长静默时间（天）</th>
                            <th>{{ yys_info.feature.longest_no_call_time }}</th>
                        </tr>
                        <tr>
                            <th>最近180天通话次数</th>
                            <th>{{ yys_info.feature.total_cnt_l180d }}</th>
                        </tr><tr>
                            <th>最近180天主叫次数</th>
                            <th>{{ yys_info.feature.total_call_cnt_l180d }}</th>
                        </tr>
                        <tr>
                            <th>最近180天主叫时长（秒）</th>
                            <th>{{ yys_info.feature.total_call_duration_l180d }}</th>
                        </tr>
                        <tr>
                            <th>最近180天夜间通话次数</th>
                            <th>{{ yys_info.feature.total_night_cnt_l180d }}</th>
                        </tr>
                        <tr>
                            <th>最近180天夜间通话时长（秒）</th>
                            <th>{{ yys_info.feature.total_night_duration_l180d }}</th>
                        </tr>
                        <tr>
                            <th>最近180天通话号码数（去重）</th>
                            <th>{{ yys_info.feature.total_phone_no_cnt_l180d }}</th>
                        </tr>
                        <tr>
                            <th>最近180天通话次数超过10次的号码占比</th>
                            <th>{{ yys_info.feature.cnt_more_than_10_ratio_l180d }}</th>
                        </tr>
                        <tr>
                            <th>最近180天与贷款类号码通话次数</th>
                            <th>{{ yys_info.feature.telephone_call_phone_lable_loan_cnt }}</th>
                        </tr>
                        <tr>
                            <th>最近180天与催收类号码通话次数</th>
                            <th>{{ yys_info.feature.telephone_call_phone_lable_cuishou_cnt }}</th>
                        </tr>
                        {% if yys_info.rule %}
                        <tr>
                            <th>命中的风控规则</th>
                            {% for each in  yys_info.rule %}
                                <th>{{ each }}</th>
                            {% endfor %}
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endif %}

{% endblock %}